 .form_control label {
    margin-bottom: 0.6rem;
    font-weight: bold;
  }
  
  .form_control input {
    
    font-size: var(--text-font-size);
    padding: 0.7rem;
    max-height:52px;
    border: none;
    border-radius:5px;
    outline: 2px solid var(--green);
    transition: outline 1s;
  }

  .form_control input:hover{
    outline-color: var(--green-darkest);
  }

  .form_control input:focus{
    outline-color: var(--green-darkest);
  }
  
  .form_control input::placeholder {
    color: var(--subtitle-color);
  }
  