.btn {
  background-color: var(--green);
  color: var(--white);
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
 
}

.btn:hover {
  background-color: var(--green-darkest);
}

.btn svg{
  width:25px;
  height:25px;
}
