@import url("https://use.typekit.net/iya6krz.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

:root {
    /* VARIABLES */
    /* Colors */
    --green: #badc58;
    --green-light: #d4fb64;
    --green-dark: #92d262;
    --green-darkest: #53a547;
    --white: #ffffff;
    --black: #000000;
    --green-white: #efffbe;

    --title-color: #1d164d;
    --subtitle-color: #9e9baf;

    /* Font-Family */
    --title-font-family: "Montserrat", sans-serif;
    --text-font-family: "Muli", sans-serif;

    /* Font-Size */
    --title-font-size:clamp(36px, 10vw, 48px) ;
    --subtitle-font-size:clamp(16px, 8vw, 32px);
    --text-font-size: clamp(10px, 4vw, 16px);
    
    /* --title-font-size: 48px;
        --subtitle-font-size: 32px;
        --text-font-size: 16px; */

    /* Heights */
    --nav-height: 4em;
    --footer-height: 2em;
}

html {
    font-family: "Muli";
  
}

h1 {
    font-size: var(--title-font-size);
    font-family: var(--title-font-family);
    
}

h2{
    font-size: var(--subtitle-font-size);
    font-family: var(--title-font-family);
}
h1, h2, h3,h4,h5,h6{
    color: var(--title-color);
}

p {
    line-height: 150%;
    font-size: var(--text-font-size);
    font-family: var(--subtitle-font-family);
    color: var(--subtitle-color);
}

svg{
    fill: var(--white);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
}

::-webkit-scrollbar-track {
    background-color: var(--green-white);
}
::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20em;
    transition: background 5s;

}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--green-darkest);
}

@media (min-width: 400px) {
    
}
