.btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--green);
  text-decoration: none;
  font-size: clamp(5px, 100% ,16px);
  transition: 0.5s;
  cursor: pointer;
  
  }
  
  .btn:hover {
    background-color: var(--green-darkest);
  }
  
  .btn svg{
    width:25px;
    height:25px;
  }
  
  .shadow{
    box-shadow: var(--green) 0px 0px 20px 0px;
  }

  