.join {
    position: relative;
    align-items:flex-start;
    justify-content:center;
    text-align: start;
    min-height: 400px;
    width:100%;
    height:80vw;
    max-height: 768px;
}
.text{
    margin-left:11.5%;
}
.text h1{
    width: clamp(240px,90%,412px);
    font-size: clamp(24px,8vw,32px);
    text-align:start;

}
.img{
    position:absolute;
    z-index: -5;
    top: 0;
    right: 0;
    width:100%;
    height:100%;
    opacity: .4;
    object-fit:cover;
    object-position:left top;
    
    filter: blur(2px);
    transition: all 1.5s;
    transition-property: width,opacity,filter;
}


.form{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    height:fit-content;
}



.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;    
    gap: 1em;
    width:70vw;
}

.btn{
    box-shadow: var(--green) 0px 10px 10px -10px;
}




@media (min-width: 740px){
    .join{
        height: 600px;
    }
    .img{
        filter: none;
        width:80%;
    }
   
   
}

@media (min-width: 1000px){
    .join{
        height: 100vh;
    }
    .img{
        opacity: 1;
        width:55%;

    }
    
}